<ion-header>
    <ion-toolbar color="dark">
        <!-- <ion-title>desc1</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content color="medium">
    <ion-card>
        <ion-card-header class="headerText">
            <ion-label float-left>cappuccino</ion-label>
            <ion-label float-right>R{{cappuccino}}</ion-label>
            <br>
        </ion-card-header>

        <ion-card-content class="cardText">
            <img src="/assets/images/mocha1.jpg"> cold-brewed coffee is ground coffee steeped in cold water and strained, and iced coffee is generally brewed hot and poured over ice
        </ion-card-content>
    </ion-card>
    <table>
        <tr>
            <!-- grid1 start -->
            <th>
                <ion-label class="labelText">cream</ion-label><br>
                <tr>
                    <td>
                        <ion-button fill="outline" (click)="onCreamSub()">-</ion-button>
                        <ion-button fill="outline" (click)="onCreamAdd()">+</ion-button>
                    </td>
                </tr>
            </th>
            <!-- grid1 end -->

            <!-- grid2  start -->

            <th class="grid2">
                <ion-label class="labelText">syrup</ion-label><br>
                <tr>
                    <td>
                        <ion-button fill="outline" (click)="onSyrupSub()">-</ion-button>
                        <ion-button fill="outline" (click)="onSyrupAdd()">+</ion-button>
                    </td>
                </tr>
            </th>
            <!-- grid2 end -->
        </tr>
    </table>

    <ion-button fill="outline" (click)="dismiss()" class="startBtn">Done</ion-button>


</ion-content>